<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.meerammafoundation.tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeerammaTools">

        <activity
            android:name="org.meerammafoundation.tools.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ADDED: FinancialToolsActivity -->
        <activity android:name="org.meerammafoundation.tools.FinancialToolsActivity" />
        <activity android:name="org.meerammafoundation.tools.BudgetToolsActivity" />
        <activity android:name="org.meerammafoundation.tools.HealthToolsActivity" />
        <activity android:name="org.meerammafoundation.tools.FamilyToolsActivity" />
        <activity android:name="org.meerammafoundation.tools.DocumentBuilderActivity" />
        <activity android:name="org.meerammafoundation.tools.CultureToolsActivity" />
        <activity android:name="org.meerammafoundation.tools.FavoritesActivity" />
        <activity android:name="org.meerammafoundation.tools.AddFavoriteActivity" />
        <activity android:name="org.meerammafoundation.tools.AboutActivity" />
        <activity android:name="org.meerammafoundation.tools.financialtools.EMICalculatorActivity" />
        <activity android:name="org.meerammafoundation.tools.financialtools.LoanEligibilityActivity" />
        <activity android:name="org.meerammafoundation.tools.financialtools.ROICalculatorActivity" />
        <activity android:name="org.meerammafoundation.tools.financialtools.InflationCalculatorActivity" />
        <activity android:name="org.meerammafoundation.tools.financialtools.PFPPFCalculatorActivity" />
        <activity android:name="org.meerammafoundation.tools.financialtools.RDFDCalculatorActivity" />
        <activity android:name="org.meerammafoundation.tools.financialtools.MutualFundCalculatorActivity" />
        <activity android:name="org.meerammafoundation.tools.financialtools.SIPCalculatorActivity" />
        <activity android:name="org.meerammafoundation.tools.financialtools.RetirementPlannerActivity" />
        <activity android:name="org.meerammafoundation.tools.financialtools.TaxCalculatorActivity" />
        <activity android:name="org.meerammafoundation.tools.financialtools.GratuityCalculatorActivity" />
        <activity
            android:name="org.meerammafoundation.tools.financialtools.NetWorthCalculatorActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="org.meerammafoundation.tools.budget.MonthlyBudgetActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="org.meerammafoundation.tools.budget.AnnualBudgetActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="org.meerammafoundation.tools.budget.ExpenseTrackerActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="org.meerammafoundation.tools.budget.IncomeVsExpensesActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="org.meerammafoundation.tools.budget.BillSplitterMainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="org.meerammafoundation.tools.budget.GroupSettingsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="org.meerammafoundation.tools.budget.GroupDetailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="org.meerammafoundation.tools.budget.DebtPayoffActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".budget.savings.SavingsGoalsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".budget.reminder.BillReminderActivity"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>